.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;



}

body{
    color: #ededed;
    background: #080808;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px,10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #ffff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}


.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #ffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}

.navbar a:hover{
    color: #0ef;
}

.home{
    width:100%;
    justify-content: space-between;

    align-items: center;
    padding: 70%,10%,0;
    
}
.walpaper{
    display:flexbox;
    margin-left: 90%;
    margin-top: -500px;
    margin-right: 100%;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .5s;

}
.home-content span{
    color: #0ef;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: 30px 0 ;
    animation: slideRight 1s ease forwards;
    opacity: 0;
    animation-delay: 1s;
}
.home-content p{
    font-size: 20px;
    opacity: 0;
    animation: sideLeft 1s ease forwards;
    animation-delay: 1s;

}
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    color: #0ef;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    margin: 70px 15px 30px 0;
}
.home-sci a:hover {
    animation: shake 0.3s ease-in-out forwards; /* Shake animation on hover */
}


.home-sci a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    animation: sideLeft 1s ease forwards;
}
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 100%;

}

.about-img img {
    padding-bottom: 0; /* Optional: remove padding for a perfect circle */
    width: 400px; /* Set width and height to the same value */
    height: 400px;
    max-width: 100%; /* Ensures image scales responsively */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; 
    margin-top: 50px;
    margin-left: 180px;/* Ensures the image covers the circle without stretching */
}


.about-text h2{
    font-size: 60px;
}
.about-text h2 span{
    color: #0ef;
}


.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: white;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;

}

#projects{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}
.sub-title span{
    color: #0ef;
}
.container{
    padding: 90px;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;

}

.project-list div {
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s, box-shadow 0.5s; 

    box-shadow: 0 0 10px rgba(1, 34, 144, 0.5), 
                0 0 20px rgba(0, 83, 184, 0.7);
}

.project-list div:hover {
    box-shadow: 0 0 20px rgba(1, 34, 144, 0.7), 
                0 0 40px rgba(0, 83, 184, 1); /* Stronger glow on hover */
}

section{
    display: flex;
    flex-wrap: wrap;
}




.project-list div a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.project-list div h2{
    font-size: 18px;
    color: #0ef;
}


.read{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}


.container1 {
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}
.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.bar {
    font-size: 25px;
}

.technical-bars .bar {
    margin: 40px 0;
}

.technical-bars .bar .info {
    margin-top: 5px;
}

.technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color:#000000;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0, 1) forwards;
}

.technical-bars .bar .progress-line span {
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0, 1) forwards;
}

/* Set widths for each skill */
.progress-line.html span { width: 90%; }
.progress-line.css span { width: 80%; }
.progress-line.python span { width: 90%; }
.progress-line.flask span { width: 65%; }
.progress-line.sql span { width: 85%; }
.progress-line.verilog span { width: 80%; }



.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 400px;
}

.contact-text h2{
    font-size: 70px;
    line-height: 1;
    text-align: center;
}

.contact-text h2 span{
    color: #0ef;

}
.contact-text h4{
    margin: 15px 0;
    color: rgb(288, 288, 288);
    font-size: 20px;
    font-weight: 600;
}

.contact-text p{
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list{
    margin-bottom: 3rem;

}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}

.contact-list a {
    text-decoration: none;
    color: #0ef;      /* Text color */
    font-weight: bold;
}

.contact-form form{
    position: relative;
}

.contact-form form input, form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;

}

.contact-form textarea{
    resize: none;
    height: 220px;

}

.contact-form form .send{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;   
}

.end-credit a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    color: #0ef;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    position: relative;
    top: 100px;
    right: 700px;

}
.end-credit a:hover {
    animation: shake 0.3s ease-in-out forwards; /* Shake animation on hover */
}


.end-credit a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}





@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}




@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}

/* @keyframes showText{
    100%{
        opacity: 1;
    }
} */


@keyframes sideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(5px);
        opacity: 1;
    }
}





@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(5px);
        opacity: 1;
    }
}
@keyframes slideTop {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        transform:translateX(5px);
        opacity: 1;
    }
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    75% { transform: translateX(-3px); }
}





